DATABASE_URL=

GOOGLE_CLIENT_ID={YOUR_GOOGLE_ID}.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET={YOUR_GOOGLE_SECRET}
GOOGLE_REDIRECT_URL=http://localhost:8080/auth/google/callback

GH_BASIC_CLIENT_ID={GITHUB_ID}
GH_BASIC_SECRET_ID={GITHUB_SECTRE}

DISCORD_CLIENT_ID={YOUR_DISCORD_ID}
DISCORD_CLIENT_SECRET={YOUR_DISCORD_SECRET}
DISCORD_REDIRECT_URL=http://localhost:8080/auth/discord/callback

JWT_SECRET={YOUR_SECRET}
